<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/WelcomeTemplate.css">
    <title>Welcome CryptoTracking</title>
</head>
<body>
    {{ $length := len . }}
    <h3>Length {{$length}}</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Time</td>
            <td>Symbol</td>
            <td>Price</td>
            <td>PrevPrice</td>
            <td>Percent</td>
        </tr>
        {{ range . }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Time }}</td>
            <td>{{ .Symbol }}</td>
            <td>{{ .Price }}</td>
            <td>{{ .PrevPrice }}</td>
            <td>{{ .Percent }}</td>
        </tr>
        {{ end }}
    </table>
</body>
</html>